body{
    background-color: aliceblue;
    padding: auto;

}
.a{
    color: aqua;
    background-color: blue;
    text-align: center;
}
.top{
    background-color: aqua;
    padding: 0%;
    color: black;
    text-align: center;{
{
 .object-position:{
    background-color:orange ;
    pading::first-letter

  }